 <div class="avatar">
   <img src="assets/img/Profile.jpg" alt="Avatar">
</div>

 <div class="user-details">
  <p> I am a December 2020 Graduate student at Rutgers University pursuing a Master's degree in Information Technology & Analytics.
   My Commendable Skills are in R, Python, SQL, Excel, Tableau, Statistics and Data Analytics.  
   My passion for Data Analytics has given me a boost to complete two internships in a Data Science related field and passionately work on almost 6 projects where I used various Softwares and enhance my analytics skills.</P> 
   <p>I am looking for a  perfect Full time opportunity to use my technical knowledge in real world data which will directly affect the companies performance,
   which will be very motivating for me to work on and achieve my professional goals. </p>
</div>

<div class="user">
  <div class="tech">
    <h2>Analyzing </h2>
  <div class="icons">
      <i class="icon fas fa-file-csv"></i>
      <i class="icon fas fa-chart-bar"></i>
    </div>
    <p>
       Statistical analysis & the know-how of leveraging power of computing frameworks to mine-process 
     and present the value out of unstructured bulk of data is the most important technical skill I have acquired for my passion to become a data scientist. 

    </p>
  </div>

  <div class="tech">
    <h2>Developing</h2>
  <div class="icons">
      <i class="devicon-python-plain"></i>
      <i class="devicon-git-plain"></i>
    </div>
    <p>
     Development is important in Data Science, I have completed my internship as a Software Engineer this summer. I strongly believe that Development , Stats and Analysis are three main pillars of Data Science.
     
    </p>
  </div>
  <div class="tech">
    <h2>Communicating</h2>
  <div class="icons">
      <i class="icon fas fa-chalkboard-teacher"></i>
      <i class="icon fas fa-comments"></i>
    </div>
    <p>
      Whats the use of analyzing millions of rows of data if one can't visualize it. Tableau and Power BI are the best tools to tell a story from any given data.
      I'm also able to present complex results to a non-technical audience.
    </p>
  </div>
</div>
