<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.user_title}} {{site.username}}</span>
        <span class="site-description">{{site.user_job_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="E-Mail" href="mailto:mohit.shukla@rutgers.edu"><i class="icon fas fa-envelope"></i></a>
        <a aria-label="Twitter" target="_blank" href="https://twitter.com/centerback_20"><i class="icon fab fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href="https://github.com/mshukla20"><i class="icon fab fa-github" aria-hidden="true"></i></a>
        <a aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/mohit2297/"><i class="icon fab fa-linkedin" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About</a>
        ·
        <a class="link" href="#workexp" data-scroll>Work Experience</a>
        .
        <a class="link" href="#projects" data-scroll>Projects</a>
        .
        <a class="link" href="assets/img/Mohit Shukla Resume.pdf" download="Mohit Shukla Resume">Resume</a>
        
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
  </div>
  

