<div class="user-details">
  <h1> Experience & Projects </h1>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="tmobile" src="{{ "/assets/img/twg.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Software Engineer Intern | TWG Companies | Newark, NJ </h3>
    <p><ul>
  <li> Designed backend login API using Java Spring boot, used GitHub as a version control tool for maintaining codebase</li>
  <li> Maintained SQL scripts, created tables in a data warehouse for daily reporting across 4 departments</li>
  <li> Developed ETL processes for data sources used in production reporting for marketing/operations teams of 3 projects</li>
<li> Programmed data quality checks, helping issue monitoring, resolution, lowering application downtime instances by 50% </li>
</ul></p>
      <p align="center"><a class="project-link" href="https://www.linkedin.com/in/mohit2297/">Details</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="tmobile" src="{{ "/assets/img/rutgers.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Data Analyst | Rutgers University, Business & Administrative Services| Newark, NJ </h3>
    <p><ul>
  <li> Retrieved 2 + online industry raw data through Python, transposed data in Excel; Produced line charts, bar charts, box plots using matplotlib package in Python to analyze industry performance</li>
  <li> Wrote SQL query to clean 100k + rows of detailed industry information data and loaded data into Tableau server</li>
  <li> Shaped 3 + business analytics Tableau Dashboard to explore market patterns and capture business-related effort </li>
<li> Audited under Business Administrative Service Division to create formal client presentations and market analysis, increasing revenue by 30% </li>
</ul></p>
      <p align="center"><a class="project-link" href="https://www.linkedin.com/in/mohit2297/">Details</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="tmobile" src="{{ "/assets/img/tmobile.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project 1 | Network Carrier: T-Mobile Expenses | Python, Visual Studio Code </h3>
    <p>
	<li>Constructed a python application to calculate the monthly expenses of mobile carrier service </li>
       <li>Integrated Gmail API service to send an automated email to users reducing the overall manual work to 80% </li>
      <li>Build Up several cases using Pytest module, Integrated Venmo API to send transaction requests to 10+ users</li> </p>
      <p align="center"><a class="project-link"https://github.com/mshukla20/tmobile">Check it out</a></p>
  </div>
</div>

<div class="user-projects">

  <div class="images-right">
    <img alt="movie" src="{{ "/assets/img/movie.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Project 2 | Movie Industry Visualization | Tableau </h3>
    <p> Will Animated (CGI) based movies ever replace reality movies? Visualized data of past 30 years of movies on Tableau, performed EDA, built 5 dashboards 
Predicted if Animation genre movies will be dominating real-life films in 15 years
	  </p>
      <p align="center"><a class="project-link" href="https://medium.com/@mohit.shukla/movie-industry-visualization-tableau-1e410f2384de">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="microsoft" src="{{ "/assets/img/microsoft.jpg" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-right">
    <h3> Project 3 | Microsoft Stock Price Prediction | R, RStudio </h3>
    <p>Predict Stock price of Microsoft. 
	   <li> Performed data scraping & envisioned the trends, stationarity parameters with ACF, PACF of 7 years stock price of Microsoft</li>
	    <li>Implemented ARIMA, SES, Holt’s Winter’s method. SES model fits data set correctly because of its 1.09 RMSE score</li>
     </p>
    <p align="center">
    <a class="project-link" href="https://medium.com/@mohit.shukla/microsoft-stock-price-prediction-r-programming-b9e9111d4ec3">Check it out</a>
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="youtube" src="{{ "/assets/img/yt.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Project 4 | YouTube Trending Video Data Analysis | Python, AWS </h3>
    <p>
      What makes a Youtube video go on its trending page? Are there any specific parameters such as upload day, time or anything else which would help the video go trending?
	Lets find out:
	    <li> Performed data scraping & envisioned the trends, stationarity parameters with ACF, PACF of 7 years stock price of Microsoft</li>
	<li> Implemented ARIMA, SES, Holt’s Winter’s method. SES model fits data set correctly because of its 1.09 RMSE score</li>

    </p>
    <p align="center"><a class="project-link" href="https://github.com/mshukla20/YouTube-Trending-Video-Data-Analysis-Visualization-/blob/master/Youtube%20Trending%20Video%20and%20Sentimental%20Analysis.pdf">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="nobel" src="{{ "/assets/img/nobel.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project 5 |  Visual History of Nobel prize winners | Python </h3>
    <p>
      The Nobel Prize is perhaps the world's most well known scientific award. Let's visualize the data of nobel prize winners of past 100 years. I have used the following:

<li>Data Manipulation with pandas</li>
<li>Intermediate Data Visualization with Seaborn</li>
<li>The dataset used in this project is from The Nobel Foundation on Kaggle</li>
    </p>
    <p align="center">
      <a class="project-link" href="https://github.com/mshukla20/Visual-History-of-Nobel-Prize-Winners">"Check it out"</a>
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="tvshow" src="{{ "/assets/img/tvshow.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left" style="margin: 0; top: 50%">
    <h3> Project 6 | TV, Halftime Shows, and the Big Game | SQL  </h3>
    <p> After exploring a Dataset containing game info and cleaning our data a little, we're going to answer questions like:

<li>What are the most extreme game outcomes?</li>
<li>How does the game affect television viewership?</li>
<li>How have viewership, TV ratings, and ad cost evolved over time?</li>
<li>Who are the most prolific musicians in terms of halftime show performances?</li>
      </p>
      <p align="center"><a class="project-link" href="https://github.com/mshukla20/TV-Halftime-Shows-and-the-Big-Game">Check it out</a></p>
  </div>
</div>

