<div class="user-details">
  <h1> <u>Work Experience </u></h1>
</div>


<div class="user-workexp">
  </div>
  <div style="text-align:center">
<h3> Data Analyst Intern | TWG Companies | Newark, NJ | May 2020 - August 2020</h3>
    <p> Summarized daily sales data of the company, managed daily, weekly, monthly, quarter, and annual data analysis statement and data process monitoring.
Upgraded and maintained database of 3GB at a fixed period and analyzed existing client data to supply the foundation for marketing decision.
Queried and pre-processed 10 years of client data using SQL and utilized regression models to analyze factors influencing sales performance.
Provided trend analysis and graphic representation of each product using Tableau and Power BI, highlighting fundamental cornerstones to business performance and proposed a marketing plan which increased total revenue by 13%.
  Explored investment opportunities by collecting and curating statistical data for market research.
</p>
      <p align="center"><a class="project-link" href="https://www.linkedin.com/in/mohit2297/">Details</a></p>
  </div>
</div>

<div class="user-workexp">
  </div>
  <div style="text-align:center">
    <h3> Data Analyst | Rutgers University, Business & Administrative Services| Newark, NJ | January 2020 - May 2020 </h3>
    <p>
   Retrieved 2 + online industry raw data through Python, transposed data in Excel; Produced line charts, bar, box plots using matplotlib package in Python to analyze industry performance. Wrote SQL query to clean 100k + rows of detailed industry information data and loaded data into Tableau server. Shaped 3 + business analytics Tableau Dashboard to explore market patterns and capture business-related effort. Audited under Business Administrative Service Division to create formal client presentations and market analysis, increasing revenue by 30% </li></p>
      <p align="center"><a class="project-link" href="https://www.linkedin.com/in/mohit2297/">Details</a></p>
  </div>
</div>
