<div class="user-details">
  <h1> Featured Projects </h1>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="tmobile" src="{{ "/assets/img/tmobile.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Blog on towardsdatascience.com </h3>
    <p>Medium's <i>Towards Data Science</i> is a great place to share wisdom.
      Here you'll find my articles on data science experiences and best practices.</p>
      <p align="center"><a class="project-link" href="https://towardsdatascience.com/@d_haitz">Check it out</a></p>
  </div>
</div>
