<div class="user-details">
  <h1> <u>Work Experience </u></h1>
</div>


<div class="user-workexp">
  </div>
  <div>
<h3 style="text-align:center"> Software Engineer Intern | TWG Companies | Newark, NJ | May 2020 - August 2020</h3>
    <p style="text-align:left">
      <li>Designed backend login API using Java Spring boot, used GitHub as a version control tool for maintaining codebase</li>
      <li>Maintained SQL scripts, created tables in a data warehouse for daily reporting across 4 departments</li>
      <li>Developed ETL processes for data sources used in production reporting for marketing/operations teams of 3 projects</li>
      <li>Programmed data quality checks, helping issue monitoring, resolution, lowering application downtime instances by 50%</li></p>
      <p align="center"><a class="project-link" href="https://www.linkedin.com/in/mohit2297/">Details</a></p>
  </div>
</div>

<div class="user-workexp">
  </div>
  <div style="text-align:center">
    <h3> Data Analyst | Rutgers University, Business & Administrative Services| Newark, NJ | January 2020 - May 2020 </h3>
    <p>
      <li> Retrieved 2 + online industry raw data through Python, transposed data in Excel; Produced line charts, bar, box plots using matplotlib package in Python to analyze industry performance</li>
     <li> Wrote SQL query to clean 100k + rows of detailed industry information data and loaded data into Tableau server</li>
<li> Shaped 3 + business analytics Tableau Dashboard to explore market patterns and capture business-related effort </li>
    <li> Audited under Business Administrative Service Division to create formal client presentations and market analysis, increasing revenue by 30% </li></p>
      <p align="center"><a class="project-link" href="https://www.linkedin.com/in/mohit2297/">Details</a></p>
  </div>
</div>
